<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Details List</title>
   <style>
    /* Reset some default styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Style the header */
h1 {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

/* Style the student list */
.student-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

/* Style each student item */
.student {
    width: 250px;
    border: 1px solid #811c1c;
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: rgb(170, 128, 135);
}

/* Style student images */
.student img {
    max-width: 100%;
    height: auto;
}

/* Style student names */
.student h2 {
    margin: 0;
    font-size: 1.5rem;
}

/* Style additional student details */
.student p {
    margin: 5px 0;
}

   </style>
</head>
<body>
    <h1>Members Details</h1>
    <ul class="student-list">
      <% for ( i=0;i<locals.countdata;i++ ) { %>
        <li class="student">
            
          
              <h2> <%= locals.userchange[i].name %></h2>
              <p>
                <%= locals.userchange[i].email %>
              </p>
              <p>
                <%= locals.userchange[i].role %>
              </p>
              <form action="/userchanged" method="post">
                
                <button class="form-submit" name="change" value="<%= locals.userchange[i].email %>">change</button>
              </form>
              
        </li>
        <% } %>

        <!-- Add more students here -->
    </ul>
</body>
</html>
